--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.warehouses DROP CONSTRAINT IF EXISTS warehouses_manager_id_fkey;
ALTER TABLE IF EXISTS ONLY public.warehouse_users DROP CONSTRAINT IF EXISTS warehouse_users_warehouse_id_fkey;
ALTER TABLE IF EXISTS ONLY public.warehouse_users DROP CONSTRAINT IF EXISTS warehouse_users_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_roles DROP CONSTRAINT IF EXISTS user_roles_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_roles DROP CONSTRAINT IF EXISTS user_roles_role_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_roles DROP CONSTRAINT IF EXISTS user_roles_assigned_by_fkey;
ALTER TABLE IF EXISTS ONLY public.shippers DROP CONSTRAINT IF EXISTS shippers_default_driver_id_fkey;
ALTER TABLE IF EXISTS ONLY public.pickup_missions DROP CONSTRAINT IF EXISTS pickup_missions_shipper_id_fkey;
ALTER TABLE IF EXISTS ONLY public.pickup_missions DROP CONSTRAINT IF EXISTS pickup_missions_driver_id_fkey;
ALTER TABLE IF EXISTS ONLY public.pickup_missions DROP CONSTRAINT IF EXISTS pickup_missions_created_by_fkey;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_shipper_id_fkey;
ALTER TABLE IF EXISTS ONLY public.parcels DROP CONSTRAINT IF EXISTS parcels_shipper_id_fkey;
ALTER TABLE IF EXISTS ONLY public.parcels DROP CONSTRAINT IF EXISTS parcels_assigned_warehouse_id_fkey;
ALTER TABLE IF EXISTS ONLY public.parcel_timeline DROP CONSTRAINT IF EXISTS parcel_timeline_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.parcel_timeline DROP CONSTRAINT IF EXISTS parcel_timeline_parcel_id_fkey;
ALTER TABLE IF EXISTS ONLY public.mission_parcels DROP CONSTRAINT IF EXISTS mission_parcels_parcel_id_fkey;
ALTER TABLE IF EXISTS ONLY public.mission_demands DROP CONSTRAINT IF EXISTS mission_demands_demand_id_fkey;
ALTER TABLE IF EXISTS ONLY public.invoices DROP CONSTRAINT IF EXISTS invoices_payment_id_fkey;
ALTER TABLE IF EXISTS ONLY public.warehouses DROP CONSTRAINT IF EXISTS fk_warehouses_agency;
ALTER TABLE IF EXISTS ONLY public.shippers DROP CONSTRAINT IF EXISTS fk_shippers_default_warehouse;
ALTER TABLE IF EXISTS ONLY public.parcels DROP CONSTRAINT IF EXISTS fk_parcels_warehouse;
ALTER TABLE IF EXISTS ONLY public.demands DROP CONSTRAINT IF EXISTS demands_reviewed_by_fkey;
ALTER TABLE IF EXISTS ONLY public.demands DROP CONSTRAINT IF EXISTS demands_expediteur_id_fkey;
ALTER TABLE IF EXISTS ONLY public.demand_parcels DROP CONSTRAINT IF EXISTS demand_parcels_parcel_id_fkey;
ALTER TABLE IF EXISTS ONLY public.demand_parcels DROP CONSTRAINT IF EXISTS demand_parcels_demand_id_fkey;
ALTER TABLE IF EXISTS ONLY public.delivery_missions DROP CONSTRAINT IF EXISTS delivery_missions_warehouse_id_fkey;
ALTER TABLE IF EXISTS ONLY public.delivery_missions DROP CONSTRAINT IF EXISTS delivery_missions_driver_id_fkey;
ALTER TABLE IF EXISTS ONLY public.delivery_missions DROP CONSTRAINT IF EXISTS delivery_missions_created_by_fkey;
ALTER TABLE IF EXISTS ONLY public.complaints DROP CONSTRAINT IF EXISTS complaints_client_id_fkey;
ALTER TABLE IF EXISTS ONLY public.complaints DROP CONSTRAINT IF EXISTS complaints_assigned_to_fkey;
DROP INDEX IF EXISTS public.idx_warehouses_agency_id;
DROP INDEX IF EXISTS public.idx_users_username;
DROP INDEX IF EXISTS public.idx_users_email;
DROP INDEX IF EXISTS public.idx_users_active;
DROP INDEX IF EXISTS public.idx_shippers_email;
DROP INDEX IF EXISTS public.idx_shippers_default_warehouse;
DROP INDEX IF EXISTS public.idx_shippers_code;
DROP INDEX IF EXISTS public.idx_pickup_missions_status;
DROP INDEX IF EXISTS public.idx_pickup_missions_driver_id;
DROP INDEX IF EXISTS public.idx_pickup_missions_created_at;
DROP INDEX IF EXISTS public.idx_pickup_missions_agency;
DROP INDEX IF EXISTS public.idx_payments_shipper;
DROP INDEX IF EXISTS public.idx_payments_date;
DROP INDEX IF EXISTS public.idx_parcels_warehouse_id;
DROP INDEX IF EXISTS public.idx_parcels_warehouse;
DROP INDEX IF EXISTS public.idx_parcels_tracking;
DROP INDEX IF EXISTS public.idx_parcels_status_warehouse;
DROP INDEX IF EXISTS public.idx_parcels_status;
DROP INDEX IF EXISTS public.idx_parcels_shipper;
DROP INDEX IF EXISTS public.idx_parcels_failed_code;
DROP INDEX IF EXISTS public.idx_parcels_created_at_warehouse;
DROP INDEX IF EXISTS public.idx_parcels_client_code;
DROP INDEX IF EXISTS public.idx_parcels_agency;
DROP INDEX IF EXISTS public.idx_mission_parcels_status;
DROP INDEX IF EXISTS public.idx_mission_parcels_parcel_id;
DROP INDEX IF EXISTS public.idx_mission_parcels_mission_id;
DROP INDEX IF EXISTS public.idx_mission_demands_mission_id;
DROP INDEX IF EXISTS public.idx_mission_demands_demand_id;
DROP INDEX IF EXISTS public.idx_demands_status;
DROP INDEX IF EXISTS public.idx_demands_expediteur_id;
DROP INDEX IF EXISTS public.idx_demands_created_at;
DROP INDEX IF EXISTS public.idx_demand_parcels_parcel_id;
DROP INDEX IF EXISTS public.idx_demand_parcels_demand_id;
DROP INDEX IF EXISTS public.idx_delivery_missions_warehouse;
DROP INDEX IF EXISTS public.idx_delivery_missions_status;
DROP INDEX IF EXISTS public.idx_delivery_missions_driver;
DROP INDEX IF EXISTS public.idx_delivery_missions_date;
DROP INDEX IF EXISTS public.idx_commercial_payments_type;
DROP INDEX IF EXISTS public.idx_commercial_payments_status;
DROP INDEX IF EXISTS public.idx_commercial_payments_created_at;
DROP INDEX IF EXISTS public.idx_commercial_payments_commercial_id;
ALTER TABLE IF EXISTS ONLY public.warehouses DROP CONSTRAINT IF EXISTS warehouses_pkey;
ALTER TABLE IF EXISTS ONLY public.warehouse_users DROP CONSTRAINT IF EXISTS warehouse_users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_username_key;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_key;
ALTER TABLE IF EXISTS ONLY public.user_roles DROP CONSTRAINT IF EXISTS user_roles_user_id_role_id_key;
ALTER TABLE IF EXISTS ONLY public.user_roles DROP CONSTRAINT IF EXISTS user_roles_pkey;
ALTER TABLE IF EXISTS ONLY public.shippers DROP CONSTRAINT IF EXISTS shippers_pkey;
ALTER TABLE IF EXISTS ONLY public.shippers DROP CONSTRAINT IF EXISTS shippers_email_key;
ALTER TABLE IF EXISTS ONLY public.shippers DROP CONSTRAINT IF EXISTS shippers_code_key;
ALTER TABLE IF EXISTS ONLY public.sectors DROP CONSTRAINT IF EXISTS sectors_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_name_key;
ALTER TABLE IF EXISTS ONLY public.pickup_missions DROP CONSTRAINT IF EXISTS pickup_missions_pkey;
ALTER TABLE IF EXISTS ONLY public.pickup_missions DROP CONSTRAINT IF EXISTS pickup_missions_mission_number_key;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_pkey;
ALTER TABLE IF EXISTS ONLY public.parcels DROP CONSTRAINT IF EXISTS parcels_tracking_number_key;
ALTER TABLE IF EXISTS ONLY public.parcels DROP CONSTRAINT IF EXISTS parcels_pkey;
ALTER TABLE IF EXISTS ONLY public.parcels DROP CONSTRAINT IF EXISTS parcels_client_code_key;
ALTER TABLE IF EXISTS ONLY public.parcel_timeline DROP CONSTRAINT IF EXISTS parcel_timeline_pkey;
ALTER TABLE IF EXISTS ONLY public.mission_parcels DROP CONSTRAINT IF EXISTS mission_parcels_pkey;
ALTER TABLE IF EXISTS ONLY public.mission_demands DROP CONSTRAINT IF EXISTS mission_demands_pkey;
ALTER TABLE IF EXISTS ONLY public.mission_demands DROP CONSTRAINT IF EXISTS mission_demands_mission_id_demand_id_key;
ALTER TABLE IF EXISTS ONLY public.invoices DROP CONSTRAINT IF EXISTS invoices_pkey;
ALTER TABLE IF EXISTS ONLY public.invoices DROP CONSTRAINT IF EXISTS invoices_invoice_number_key;
ALTER TABLE IF EXISTS ONLY public.drivers DROP CONSTRAINT IF EXISTS drivers_pkey;
ALTER TABLE IF EXISTS ONLY public.drivers DROP CONSTRAINT IF EXISTS drivers_email_key;
ALTER TABLE IF EXISTS ONLY public.demands DROP CONSTRAINT IF EXISTS demands_pkey;
ALTER TABLE IF EXISTS ONLY public.demand_parcels DROP CONSTRAINT IF EXISTS demand_parcels_pkey;
ALTER TABLE IF EXISTS ONLY public.demand_parcels DROP CONSTRAINT IF EXISTS demand_parcels_demand_id_parcel_id_key;
ALTER TABLE IF EXISTS ONLY public.delivery_missions DROP CONSTRAINT IF EXISTS delivery_missions_pkey;
ALTER TABLE IF EXISTS ONLY public.delivery_missions DROP CONSTRAINT IF EXISTS delivery_missions_mission_number_key;
ALTER TABLE IF EXISTS ONLY public.complaints DROP CONSTRAINT IF EXISTS complaints_pkey;
ALTER TABLE IF EXISTS ONLY public.commercials DROP CONSTRAINT IF EXISTS commercials_pkey;
ALTER TABLE IF EXISTS ONLY public.commercials DROP CONSTRAINT IF EXISTS commercials_email_key;
ALTER TABLE IF EXISTS ONLY public.commercial_payments DROP CONSTRAINT IF EXISTS commercial_payments_reference_key;
ALTER TABLE IF EXISTS ONLY public.commercial_payments DROP CONSTRAINT IF EXISTS commercial_payments_pkey;
ALTER TABLE IF EXISTS ONLY public.agency_members DROP CONSTRAINT IF EXISTS agency_members_pkey;
ALTER TABLE IF EXISTS ONLY public.agency_members DROP CONSTRAINT IF EXISTS agency_members_email_key;
ALTER TABLE IF EXISTS ONLY public.agency_managers DROP CONSTRAINT IF EXISTS agency_managers_pkey;
ALTER TABLE IF EXISTS ONLY public.agency_managers DROP CONSTRAINT IF EXISTS agency_managers_email_key;
ALTER TABLE IF EXISTS ONLY public.agencies DROP CONSTRAINT IF EXISTS agencies_pkey;
ALTER TABLE IF EXISTS ONLY public.accountants DROP CONSTRAINT IF EXISTS accountants_pkey;
ALTER TABLE IF EXISTS ONLY public.accountants DROP CONSTRAINT IF EXISTS accountants_email_key;
ALTER TABLE IF EXISTS public.warehouses ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.warehouse_users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.user_roles ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.shippers ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.sectors ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.roles ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.pickup_missions ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.payments ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.parcels ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.parcel_timeline ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.mission_parcels ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.mission_demands ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.invoices ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.drivers ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.demands ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.demand_parcels ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.delivery_missions ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.complaints ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.commercials ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.commercial_payments ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.agency_members ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.agency_managers ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.agencies ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.accountants ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.warehouses_id_seq;
DROP TABLE IF EXISTS public.warehouses;
DROP SEQUENCE IF EXISTS public.warehouse_users_id_seq;
DROP TABLE IF EXISTS public.warehouse_users;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.user_roles_id_seq;
DROP TABLE IF EXISTS public.user_roles;
DROP SEQUENCE IF EXISTS public.shippers_id_seq;
DROP TABLE IF EXISTS public.shippers;
DROP SEQUENCE IF EXISTS public.sectors_id_seq;
DROP TABLE IF EXISTS public.sectors;
DROP SEQUENCE IF EXISTS public.roles_id_seq;
DROP TABLE IF EXISTS public.roles;
DROP SEQUENCE IF EXISTS public.pickup_missions_id_seq;
DROP TABLE IF EXISTS public.pickup_missions;
DROP SEQUENCE IF EXISTS public.payments_id_seq;
DROP TABLE IF EXISTS public.payments;
DROP SEQUENCE IF EXISTS public.parcels_id_seq;
DROP TABLE IF EXISTS public.parcels;
DROP SEQUENCE IF EXISTS public.parcel_timeline_id_seq;
DROP TABLE IF EXISTS public.parcel_timeline;
DROP SEQUENCE IF EXISTS public.mission_parcels_id_seq;
DROP TABLE IF EXISTS public.mission_parcels;
DROP SEQUENCE IF EXISTS public.mission_demands_id_seq;
DROP TABLE IF EXISTS public.mission_demands;
DROP SEQUENCE IF EXISTS public.invoices_id_seq;
DROP TABLE IF EXISTS public.invoices;
DROP SEQUENCE IF EXISTS public.drivers_id_seq;
DROP TABLE IF EXISTS public.drivers;
DROP SEQUENCE IF EXISTS public.demands_id_seq;
DROP TABLE IF EXISTS public.demands;
DROP SEQUENCE IF EXISTS public.demand_parcels_id_seq;
DROP TABLE IF EXISTS public.demand_parcels;
DROP SEQUENCE IF EXISTS public.delivery_missions_id_seq;
DROP TABLE IF EXISTS public.delivery_missions;
DROP SEQUENCE IF EXISTS public.complaints_id_seq;
DROP TABLE IF EXISTS public.complaints;
DROP SEQUENCE IF EXISTS public.commercials_id_seq;
DROP TABLE IF EXISTS public.commercials;
DROP SEQUENCE IF EXISTS public.commercial_payments_id_seq;
DROP TABLE IF EXISTS public.commercial_payments;
DROP SEQUENCE IF EXISTS public.agency_members_id_seq;
DROP TABLE IF EXISTS public.agency_members;
DROP SEQUENCE IF EXISTS public.agency_managers_id_seq;
DROP TABLE IF EXISTS public.agency_managers;
DROP SEQUENCE IF EXISTS public.agencies_id_seq;
DROP TABLE IF EXISTS public.agencies;
DROP SEQUENCE IF EXISTS public.accountants_id_seq;
DROP TABLE IF EXISTS public.accountants;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accountants; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.accountants (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    governorate character varying(50),
    address text,
    title character varying(50),
    agency character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: accountants_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.accountants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: accountants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.accountants_id_seq OWNED BY public.accountants.id;


--
-- Name: agencies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.agencies (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    address text,
    governorate character varying(50),
    status character varying(20) DEFAULT 'Actif'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: agencies_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.agencies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: agencies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.agencies_id_seq OWNED BY public.agencies.id;


--
-- Name: agency_managers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.agency_managers (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    governorate character varying(50),
    address text,
    agency character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: agency_managers_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.agency_managers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: agency_managers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.agency_managers_id_seq OWNED BY public.agency_managers.id;


--
-- Name: agency_members; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.agency_members (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    governorate character varying(50),
    agency character varying(50),
    role character varying(50),
    status character varying(20) DEFAULT 'Actif'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: agency_members_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.agency_members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: agency_members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.agency_members_id_seq OWNED BY public.agency_members.id;


--
-- Name: commercial_payments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.commercial_payments (
    id integer NOT NULL,
    commercial_id integer NOT NULL,
    type character varying(50) NOT NULL,
    description text NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_method character varying(100) NOT NULL,
    reference character varying(100) NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT commercial_payments_amount_check CHECK ((amount > (0)::numeric)),
    CONSTRAINT commercial_payments_status_check CHECK (((status)::text = ANY (ARRAY[('pending'::character varying)::text, ('paid'::character varying)::text, ('failed'::character varying)::text]))),
    CONSTRAINT commercial_payments_type_check CHECK (((type)::text = ANY (ARRAY[('Commission'::character varying)::text, ('Salaire'::character varying)::text, ('Bonus'::character varying)::text])))
);


--
-- Name: commercial_payments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.commercial_payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: commercial_payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.commercial_payments_id_seq OWNED BY public.commercial_payments.id;


--
-- Name: commercials; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.commercials (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    governorate character varying(50),
    address text,
    title character varying(50),
    clients_count integer DEFAULT 0,
    shipments_received integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: commercials_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.commercials_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: commercials_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.commercials_id_seq OWNED BY public.commercials.id;


--
-- Name: complaints; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.complaints (
    id integer NOT NULL,
    client_id integer NOT NULL,
    subject character varying(200) NOT NULL,
    description text,
    date date DEFAULT CURRENT_DATE,
    status character varying(20) DEFAULT 'En attente'::character varying,
    assigned_to integer,
    resolution_date timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    attachments text[],
    attachment_names text[]
);


--
-- Name: complaints_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.complaints_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: complaints_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.complaints_id_seq OWNED BY public.complaints.id;


--
-- Name: delivery_missions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.delivery_missions (
    id integer NOT NULL,
    mission_number character varying(50) NOT NULL,
    driver_id integer NOT NULL,
    warehouse_id integer NOT NULL,
    delivery_date date NOT NULL,
    estimated_parcels integer DEFAULT 0,
    actual_parcels integer DEFAULT 0,
    status character varying(20) DEFAULT 'scheduled'::character varying,
    start_time timestamp without time zone,
    end_time timestamp without time zone,
    route_data jsonb,
    notes text,
    created_by integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT delivery_missions_status_check CHECK (((status)::text = ANY (ARRAY[('scheduled'::character varying)::text, ('in_progress'::character varying)::text, ('completed'::character varying)::text, ('cancelled'::character varying)::text])))
);


--
-- Name: delivery_missions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.delivery_missions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: delivery_missions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.delivery_missions_id_seq OWNED BY public.delivery_missions.id;


--
-- Name: demand_parcels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.demand_parcels (
    id integer NOT NULL,
    demand_id integer NOT NULL,
    parcel_id integer NOT NULL,
    added_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: demand_parcels_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.demand_parcels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: demand_parcels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.demand_parcels_id_seq OWNED BY public.demand_parcels.id;


--
-- Name: demands; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.demands (
    id integer NOT NULL,
    expediteur_id integer NOT NULL,
    expediteur_email character varying(100) NOT NULL,
    expediteur_name character varying(100) NOT NULL,
    expediteur_agency character varying(100),
    status character varying(20) DEFAULT 'Pending'::character varying,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    reviewed_by integer,
    reviewed_at timestamp without time zone,
    review_notes text,
    in_mission boolean DEFAULT false,
    CONSTRAINT demands_status_check CHECK (((status)::text = ANY (ARRAY[('Pending'::character varying)::text, ('Accepted'::character varying)::text, ('Not Accepted'::character varying)::text, ('Completed'::character varying)::text])))
);


--
-- Name: demands_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.demands_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: demands_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.demands_id_seq OWNED BY public.demands.id;


--
-- Name: drivers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.drivers (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    governorate character varying(50),
    address text,
    vehicle character varying(100),
    status character varying(20) DEFAULT 'Disponible'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    cin_number character varying(20),
    driving_license character varying(50),
    car_number character varying(20),
    car_type character varying(100),
    insurance_number character varying(50),
    agency character varying(50),
    photo_url text,
    personal_documents_url text,
    car_documents_url text,
    password character varying(255)
);


--
-- Name: drivers_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.drivers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: drivers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.drivers_id_seq OWNED BY public.drivers.id;


--
-- Name: invoices; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.invoices (
    id integer NOT NULL,
    payment_id integer NOT NULL,
    invoice_number character varying(50) NOT NULL,
    client_name character varying(100),
    client_phone character varying(20),
    delivery_address text,
    weight numeric(8,2),
    notes text,
    base_delivery_cost numeric(10,2),
    additional_costs numeric(10,2) DEFAULT 0,
    total_ht numeric(10,2),
    tva numeric(10,2),
    total_ttc numeric(10,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: invoices_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.invoices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: invoices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.invoices_id_seq OWNED BY public.invoices.id;


--
-- Name: mission_demands; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.mission_demands (
    id integer NOT NULL,
    mission_id integer NOT NULL,
    demand_id integer NOT NULL,
    added_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: mission_demands_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.mission_demands_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: mission_demands_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.mission_demands_id_seq OWNED BY public.mission_demands.id;


--
-- Name: mission_parcels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.mission_parcels (
    id integer NOT NULL,
    mission_id integer NOT NULL,
    parcel_id integer NOT NULL,
    status character varying(20) DEFAULT 'En attente'::character varying
);


--
-- Name: mission_parcels_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.mission_parcels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: mission_parcels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.mission_parcels_id_seq OWNED BY public.mission_parcels.id;


--
-- Name: parcel_timeline; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parcel_timeline (
    id integer NOT NULL,
    parcel_id integer NOT NULL,
    status character varying(50) NOT NULL,
    location character varying(100),
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    description text,
    user_id integer
);


--
-- Name: parcel_timeline_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.parcel_timeline_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: parcel_timeline_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.parcel_timeline_id_seq OWNED BY public.parcel_timeline.id;


--
-- Name: parcels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parcels (
    id integer NOT NULL,
    tracking_number character varying(20) NOT NULL,
    shipper_id integer NOT NULL,
    destination character varying(100) NOT NULL,
    status character varying(50) DEFAULT 'En attente'::character varying,
    weight numeric(8,2),
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    estimated_delivery_date date,
    actual_delivery_date timestamp without time zone,
    price numeric(10,2),
    delivery_fees numeric(10,2) DEFAULT 0,
    return_fees numeric(10,2) DEFAULT 0,
    type character varying(20) DEFAULT 'Standard'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    assigned_warehouse_id integer,
    recipient_name character varying(100),
    recipient_phone character varying(20),
    recipient_phone2 character varying(20),
    recipient_address text,
    recipient_governorate character varying(50),
    article_name character varying(255),
    remark text,
    nb_pieces integer DEFAULT 1,
    client_code character varying(10),
    failed_code character varying(10),
    warehouse_id integer,
    agency character varying(50),
    CONSTRAINT parcels_status_check CHECK (((status)::text = ANY (ARRAY[('En attente'::character varying)::text, ('├Ç enlever'::character varying)::text, ('Enlev├⌐'::character varying)::text, ('Au d├⌐p├┤t'::character varying)::text, ('En cours'::character varying)::text, ('RTN d├⌐pot'::character varying)::text, ('Livr├⌐s'::character varying)::text, ('Livr├⌐s pay├⌐s'::character varying)::text, ('Retour d├⌐finitif'::character varying)::text, ('RTN client agence'::character varying)::text, ('Retour Exp├⌐diteur'::character varying)::text, ('Retour En Cours d''exp├⌐dition'::character varying)::text, ('Retour re├ºu'::character varying)::text])))
);


--
-- Name: parcels_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.parcels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: parcels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.parcels_id_seq OWNED BY public.parcels.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payments (
    id integer NOT NULL,
    shipper_id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    date date NOT NULL,
    payment_method character varying(50),
    reference character varying(50),
    status character varying(20) DEFAULT 'En attente'::character varying,
    invoice_number character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    check_date date,
    check_number character varying(100),
    transfer_date date,
    transfer_reference character varying(100),
    cash_date date,
    card_date date,
    card_number character varying(100)
);


--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: pickup_missions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pickup_missions (
    id integer NOT NULL,
    mission_number character varying(50) NOT NULL,
    driver_id integer NOT NULL,
    shipper_id integer NOT NULL,
    scheduled_date timestamp without time zone NOT NULL,
    status character varying(20) DEFAULT 'En attente'::character varying,
    created_by integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    completion_code character varying(10),
    agency character varying(100) NOT NULL
);


--
-- Name: pickup_missions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pickup_missions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pickup_missions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pickup_missions_id_seq OWNED BY public.pickup_missions.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description text,
    permissions jsonb,
    is_system_role boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: sectors; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sectors (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    city character varying(100),
    manager_id integer,
    status character varying(20) DEFAULT 'Actif'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: sectors_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sectors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sectors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sectors_id_seq OWNED BY public.sectors.id;


--
-- Name: shippers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.shippers (
    id integer NOT NULL,
    code character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    company character varying(100),
    total_parcels integer DEFAULT 0,
    delivered_parcels integer DEFAULT 0,
    returned_parcels integer DEFAULT 0,
    delivery_fees numeric(10,2) DEFAULT 0,
    return_fees numeric(10,2) DEFAULT 0,
    status character varying(20) DEFAULT 'Actif'::character varying,
    siret character varying(20),
    passport_number character varying(20),
    fiscal_number character varying(20),
    agency character varying(50),
    commercial_id integer,
    default_driver_id integer,
    bank_info jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    pending_parcels integer DEFAULT 0,
    total_revenue numeric(10,2) DEFAULT 0,
    total_paid numeric(10,2) DEFAULT 0,
    tax_number character varying(20),
    commercial_register character varying(20),
    city character varying(50),
    password character varying(255),
    identity_number character varying(30),
    id_document character varying(255),
    company_name character varying(100),
    company_address text,
    company_governorate character varying(50),
    company_documents character varying(255),
    address text,
    governorate character varying(100),
    page_name character varying(255),
    default_warehouse_id integer
);


--
-- Name: shippers_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.shippers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: shippers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.shippers_id_seq OWNED BY public.shippers.id;


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_roles (
    id integer NOT NULL,
    user_id integer NOT NULL,
    role_id integer NOT NULL,
    assigned_by integer,
    assigned_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp without time zone,
    is_active boolean DEFAULT true
);


--
-- Name: user_roles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_roles_id_seq OWNED BY public.user_roles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    phone character varying(20),
    is_active boolean DEFAULT true,
    email_verified boolean DEFAULT false,
    last_login timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    role character varying(50) DEFAULT 'Utilisateur'::character varying,
    agency character varying(100),
    governorate character varying(100)
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: warehouse_users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.warehouse_users (
    id integer NOT NULL,
    warehouse_id integer NOT NULL,
    user_id integer NOT NULL,
    role character varying(50),
    email character varying(100),
    phone character varying(20),
    status character varying(20) DEFAULT 'Actif'::character varying,
    entry_date date DEFAULT CURRENT_DATE,
    parcels_processed integer DEFAULT 0,
    performance numeric(5,2) DEFAULT 0
);


--
-- Name: warehouse_users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.warehouse_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: warehouse_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.warehouse_users_id_seq OWNED BY public.warehouse_users.id;


--
-- Name: warehouses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.warehouses (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    governorate character varying(50),
    address text,
    manager_id integer,
    current_stock integer DEFAULT 0,
    capacity integer DEFAULT 100,
    status character varying(20) DEFAULT 'Actif'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    agency_id integer
);


--
-- Name: warehouses_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.warehouses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: warehouses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.warehouses_id_seq OWNED BY public.warehouses.id;


--
-- Name: accountants id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accountants ALTER COLUMN id SET DEFAULT nextval('public.accountants_id_seq'::regclass);


--
-- Name: agencies id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agencies ALTER COLUMN id SET DEFAULT nextval('public.agencies_id_seq'::regclass);


--
-- Name: agency_managers id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agency_managers ALTER COLUMN id SET DEFAULT nextval('public.agency_managers_id_seq'::regclass);


--
-- Name: agency_members id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agency_members ALTER COLUMN id SET DEFAULT nextval('public.agency_members_id_seq'::regclass);


--
-- Name: commercial_payments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.commercial_payments ALTER COLUMN id SET DEFAULT nextval('public.commercial_payments_id_seq'::regclass);


--
-- Name: commercials id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.commercials ALTER COLUMN id SET DEFAULT nextval('public.commercials_id_seq'::regclass);


--
-- Name: complaints id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.complaints ALTER COLUMN id SET DEFAULT nextval('public.complaints_id_seq'::regclass);


--
-- Name: delivery_missions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.delivery_missions ALTER COLUMN id SET DEFAULT nextval('public.delivery_missions_id_seq'::regclass);


--
-- Name: demand_parcels id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.demand_parcels ALTER COLUMN id SET DEFAULT nextval('public.demand_parcels_id_seq'::regclass);


--
-- Name: demands id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.demands ALTER COLUMN id SET DEFAULT nextval('public.demands_id_seq'::regclass);


--
-- Name: drivers id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.drivers ALTER COLUMN id SET DEFAULT nextval('public.drivers_id_seq'::regclass);


--
-- Name: invoices id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invoices ALTER COLUMN id SET DEFAULT nextval('public.invoices_id_seq'::regclass);


--
-- Name: mission_demands id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mission_demands ALTER COLUMN id SET DEFAULT nextval('public.mission_demands_id_seq'::regclass);


--
-- Name: mission_parcels id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mission_parcels ALTER COLUMN id SET DEFAULT nextval('public.mission_parcels_id_seq'::regclass);


--
-- Name: parcel_timeline id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parcel_timeline ALTER COLUMN id SET DEFAULT nextval('public.parcel_timeline_id_seq'::regclass);


--
-- Name: parcels id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parcels ALTER COLUMN id SET DEFAULT nextval('public.parcels_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: pickup_missions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pickup_missions ALTER COLUMN id SET DEFAULT nextval('public.pickup_missions_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: sectors id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sectors ALTER COLUMN id SET DEFAULT nextval('public.sectors_id_seq'::regclass);


--
-- Name: shippers id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shippers ALTER COLUMN id SET DEFAULT nextval('public.shippers_id_seq'::regclass);


--
-- Name: user_roles id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_roles ALTER COLUMN id SET DEFAULT nextval('public.user_roles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: warehouse_users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouse_users ALTER COLUMN id SET DEFAULT nextval('public.warehouse_users_id_seq'::regclass);


--
-- Name: warehouses id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouses ALTER COLUMN id SET DEFAULT nextval('public.warehouses_id_seq'::regclass);


--
-- Data for Name: accountants; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.accountants (id, name, email, phone, governorate, address, title, agency, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: agencies; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.agencies (id, name, address, governorate, status, created_at, updated_at) FROM stdin;
1	Agence Tunis	Adresse Tunis	Tunis	Actif	2025-07-14 20:48:16.639023	2025-07-14 20:48:16.639023
2	Agence Sousse	Adresse Sousse	Sousse	Actif	2025-07-14 20:48:16.639023	2025-07-14 20:48:16.639023
3	Agence Sfax	Adresse Sfax	Sfax	Actif	2025-07-14 20:48:16.639023	2025-07-14 20:48:16.639023
\.


--
-- Data for Name: agency_managers; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: agency_members; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.agency_members (id, name, email, phone, governorate, agency, role, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: commercial_payments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: commercials; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.commercials (id, name, email, phone, governorate, address, title, clients_count, shipments_received, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: complaints; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: delivery_missions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: demand_parcels; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: demands; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: drivers; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.invoices (id, payment_id, invoice_number, client_name, client_phone, delivery_address, weight, notes, base_delivery_cost, additional_costs, total_ht, tva, total_ttc, created_at) FROM stdin;
\.


--
-- Data for Name: mission_demands; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: mission_parcels; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: parcel_timeline; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.parcel_timeline (id, parcel_id, status, location, "timestamp", description, user_id) FROM stdin;
\.


--
-- Data for Name: parcels; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: pickup_missions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: sectors; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sectors (id, name, city, manager_id, status, created_at, updated_at) FROM stdin;
15	test	Jendouba	46	Actif	2025-07-14 16:19:55.051458	2025-07-14 16:19:55.051458
16	nord	B├⌐ja,Kairouan,Bizerte,Kebili	37	Actif	2025-07-14 23:28:41.038679	2025-07-14 23:28:55.003017
17	test5	Gab├¿s,Kairouan,Kef	37	Actif	2025-07-14 23:47:04.176252	2025-07-14 23:47:04.176252
18	grand tunis 	Ariana	49	Actif	2025-07-26 19:11:35.130475	2025-07-26 19:11:35.130475
\.


--
-- Data for Name: shippers; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: warehouse_users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.warehouse_users (id, warehouse_id, user_id, role, email, phone, status, entry_date, parcels_processed, performance) FROM stdin;
\.


--
-- Data for Name: warehouses; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: accountants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.accountants_id_seq', 1, false);


--
-- Name: agencies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.agencies_id_seq', 3, true);


--
-- Name: agency_managers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.agency_managers_id_seq', 9, true);


--
-- Name: agency_members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.agency_members_id_seq', 1, false);


--
-- Name: commercial_payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.commercial_payments_id_seq', 32, true);


--
-- Name: commercials_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.commercials_id_seq', 1, false);


--
-- Name: complaints_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.complaints_id_seq', 24, true);


--
-- Name: delivery_missions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.delivery_missions_id_seq', 16, true);


--
-- Name: demand_parcels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.demand_parcels_id_seq', 24, true);


--
-- Name: demands_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.demands_id_seq', 26, true);


--
-- Name: drivers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.drivers_id_seq', 79, true);


--
-- Name: invoices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.invoices_id_seq', 12, true);


--
-- Name: mission_demands_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.mission_demands_id_seq', 28, true);


--
-- Name: mission_parcels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.mission_parcels_id_seq', 151, true);


--
-- Name: parcel_timeline_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.parcel_timeline_id_seq', 15, true);


--
-- Name: parcels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.parcels_id_seq', 338, true);


--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.payments_id_seq', 149, true);


--
-- Name: pickup_missions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pickup_missions_id_seq', 31, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.roles_id_seq', 29, true);


--
-- Name: sectors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.sectors_id_seq', 18, true);


--
-- Name: shippers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.shippers_id_seq', 64, true);


--
-- Name: user_roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_roles_id_seq', 121, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 363, true);


--
-- Name: warehouse_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.warehouse_users_id_seq', 1, false);


--
-- Name: warehouses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.warehouses_id_seq', 18, true);


--
-- Name: accountants accountants_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accountants
    ADD CONSTRAINT accountants_email_key UNIQUE (email);


--
-- Name: accountants accountants_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accountants
    ADD CONSTRAINT accountants_pkey PRIMARY KEY (id);


--
-- Name: agencies agencies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agencies
    ADD CONSTRAINT agencies_pkey PRIMARY KEY (id);


--
-- Name: agency_managers agency_managers_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agency_managers
    ADD CONSTRAINT agency_managers_email_key UNIQUE (email);


--
-- Name: agency_managers agency_managers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agency_managers
    ADD CONSTRAINT agency_managers_pkey PRIMARY KEY (id);


--
-- Name: agency_members agency_members_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agency_members
    ADD CONSTRAINT agency_members_email_key UNIQUE (email);


--
-- Name: agency_members agency_members_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agency_members
    ADD CONSTRAINT agency_members_pkey PRIMARY KEY (id);


--
-- Name: commercial_payments commercial_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.commercial_payments
    ADD CONSTRAINT commercial_payments_pkey PRIMARY KEY (id);


--
-- Name: commercial_payments commercial_payments_reference_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.commercial_payments
    ADD CONSTRAINT commercial_payments_reference_key UNIQUE (reference);


--
-- Name: commercials commercials_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.commercials
    ADD CONSTRAINT commercials_email_key UNIQUE (email);


--
-- Name: commercials commercials_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.commercials
    ADD CONSTRAINT commercials_pkey PRIMARY KEY (id);


--
-- Name: complaints complaints_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_pkey PRIMARY KEY (id);


--
-- Name: delivery_missions delivery_missions_mission_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.delivery_missions
    ADD CONSTRAINT delivery_missions_mission_number_key UNIQUE (mission_number);


--
-- Name: delivery_missions delivery_missions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.delivery_missions
    ADD CONSTRAINT delivery_missions_pkey PRIMARY KEY (id);


--
-- Name: demand_parcels demand_parcels_demand_id_parcel_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.demand_parcels
    ADD CONSTRAINT demand_parcels_demand_id_parcel_id_key UNIQUE (demand_id, parcel_id);


--
-- Name: demand_parcels demand_parcels_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.demand_parcels
    ADD CONSTRAINT demand_parcels_pkey PRIMARY KEY (id);


--
-- Name: demands demands_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.demands
    ADD CONSTRAINT demands_pkey PRIMARY KEY (id);


--
-- Name: drivers drivers_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_email_key UNIQUE (email);


--
-- Name: drivers drivers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_invoice_number_key UNIQUE (invoice_number);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: mission_demands mission_demands_mission_id_demand_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mission_demands
    ADD CONSTRAINT mission_demands_mission_id_demand_id_key UNIQUE (mission_id, demand_id);


--
-- Name: mission_demands mission_demands_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mission_demands
    ADD CONSTRAINT mission_demands_pkey PRIMARY KEY (id);


--
-- Name: mission_parcels mission_parcels_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mission_parcels
    ADD CONSTRAINT mission_parcels_pkey PRIMARY KEY (id);


--
-- Name: parcel_timeline parcel_timeline_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parcel_timeline
    ADD CONSTRAINT parcel_timeline_pkey PRIMARY KEY (id);


--
-- Name: parcels parcels_client_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT parcels_client_code_key UNIQUE (client_code);


--
-- Name: parcels parcels_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT parcels_pkey PRIMARY KEY (id);


--
-- Name: parcels parcels_tracking_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT parcels_tracking_number_key UNIQUE (tracking_number);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: pickup_missions pickup_missions_mission_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pickup_missions
    ADD CONSTRAINT pickup_missions_mission_number_key UNIQUE (mission_number);


--
-- Name: pickup_missions pickup_missions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pickup_missions
    ADD CONSTRAINT pickup_missions_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: sectors sectors_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sectors
    ADD CONSTRAINT sectors_pkey PRIMARY KEY (id);


--
-- Name: shippers shippers_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shippers
    ADD CONSTRAINT shippers_code_key UNIQUE (code);


--
-- Name: shippers shippers_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shippers
    ADD CONSTRAINT shippers_email_key UNIQUE (email);


--
-- Name: shippers shippers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shippers
    ADD CONSTRAINT shippers_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_user_id_role_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_role_id_key UNIQUE (user_id, role_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: warehouse_users warehouse_users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouse_users
    ADD CONSTRAINT warehouse_users_pkey PRIMARY KEY (id);


--
-- Name: warehouses warehouses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_pkey PRIMARY KEY (id);


--
-- Name: idx_commercial_payments_commercial_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_commercial_payments_commercial_id ON public.commercial_payments USING btree (commercial_id);


--
-- Name: idx_commercial_payments_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_commercial_payments_created_at ON public.commercial_payments USING btree (created_at);


--
-- Name: idx_commercial_payments_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_commercial_payments_status ON public.commercial_payments USING btree (status);


--
-- Name: idx_commercial_payments_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_commercial_payments_type ON public.commercial_payments USING btree (type);


--
-- Name: idx_delivery_missions_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_delivery_missions_date ON public.delivery_missions USING btree (delivery_date);


--
-- Name: idx_delivery_missions_driver; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_delivery_missions_driver ON public.delivery_missions USING btree (driver_id);


--
-- Name: idx_delivery_missions_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_delivery_missions_status ON public.delivery_missions USING btree (status);


--
-- Name: idx_delivery_missions_warehouse; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_delivery_missions_warehouse ON public.delivery_missions USING btree (warehouse_id);


--
-- Name: idx_demand_parcels_demand_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_demand_parcels_demand_id ON public.demand_parcels USING btree (demand_id);


--
-- Name: idx_demand_parcels_parcel_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_demand_parcels_parcel_id ON public.demand_parcels USING btree (parcel_id);


--
-- Name: idx_demands_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_demands_created_at ON public.demands USING btree (created_at);


--
-- Name: idx_demands_expediteur_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_demands_expediteur_id ON public.demands USING btree (expediteur_id);


--
-- Name: idx_demands_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_demands_status ON public.demands USING btree (status);


--
-- Name: idx_mission_demands_demand_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mission_demands_demand_id ON public.mission_demands USING btree (demand_id);


--
-- Name: idx_mission_demands_mission_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mission_demands_mission_id ON public.mission_demands USING btree (mission_id);


--
-- Name: idx_mission_parcels_mission_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mission_parcels_mission_id ON public.mission_parcels USING btree (mission_id);


--
-- Name: idx_mission_parcels_parcel_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mission_parcels_parcel_id ON public.mission_parcels USING btree (parcel_id);


--
-- Name: idx_mission_parcels_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_mission_parcels_status ON public.mission_parcels USING btree (status);


--
-- Name: idx_parcels_agency; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parcels_agency ON public.parcels USING btree (agency);


--
-- Name: idx_parcels_client_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parcels_client_code ON public.parcels USING btree (client_code);


--
-- Name: idx_parcels_created_at_warehouse; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parcels_created_at_warehouse ON public.parcels USING btree (created_at, warehouse_id);


--
-- Name: idx_parcels_failed_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parcels_failed_code ON public.parcels USING btree (failed_code);


--
-- Name: idx_parcels_shipper; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parcels_shipper ON public.parcels USING btree (shipper_id);


--
-- Name: idx_parcels_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parcels_status ON public.parcels USING btree (status);


--
-- Name: idx_parcels_status_warehouse; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parcels_status_warehouse ON public.parcels USING btree (status, warehouse_id);


--
-- Name: idx_parcels_tracking; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parcels_tracking ON public.parcels USING btree (tracking_number);


--
-- Name: idx_parcels_warehouse; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parcels_warehouse ON public.parcels USING btree (warehouse_id);


--
-- Name: idx_parcels_warehouse_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parcels_warehouse_id ON public.parcels USING btree (warehouse_id);


--
-- Name: idx_payments_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_payments_date ON public.payments USING btree (date);


--
-- Name: idx_payments_shipper; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_payments_shipper ON public.payments USING btree (shipper_id);


--
-- Name: idx_pickup_missions_agency; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pickup_missions_agency ON public.pickup_missions USING btree (agency);


--
-- Name: idx_pickup_missions_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pickup_missions_created_at ON public.pickup_missions USING btree (created_at);


--
-- Name: idx_pickup_missions_driver_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pickup_missions_driver_id ON public.pickup_missions USING btree (driver_id);


--
-- Name: idx_pickup_missions_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pickup_missions_status ON public.pickup_missions USING btree (status);


--
-- Name: idx_shippers_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_shippers_code ON public.shippers USING btree (code);


--
-- Name: idx_shippers_default_warehouse; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_shippers_default_warehouse ON public.shippers USING btree (default_warehouse_id);


--
-- Name: idx_shippers_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_shippers_email ON public.shippers USING btree (email);


--
-- Name: idx_users_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_active ON public.users USING btree (is_active);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: idx_warehouses_agency_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_warehouses_agency_id ON public.warehouses USING btree (agency_id);


--
-- Name: complaints complaints_assigned_to_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_assigned_to_fkey FOREIGN KEY (assigned_to) REFERENCES public.users(id);


--
-- Name: complaints complaints_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.shippers(id);


--
-- Name: delivery_missions delivery_missions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.delivery_missions
    ADD CONSTRAINT delivery_missions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: delivery_missions delivery_missions_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.delivery_missions
    ADD CONSTRAINT delivery_missions_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id);


--
-- Name: delivery_missions delivery_missions_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.delivery_missions
    ADD CONSTRAINT delivery_missions_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id);


--
-- Name: demand_parcels demand_parcels_demand_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.demand_parcels
    ADD CONSTRAINT demand_parcels_demand_id_fkey FOREIGN KEY (demand_id) REFERENCES public.demands(id) ON DELETE CASCADE;


--
-- Name: demand_parcels demand_parcels_parcel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.demand_parcels
    ADD CONSTRAINT demand_parcels_parcel_id_fkey FOREIGN KEY (parcel_id) REFERENCES public.parcels(id) ON DELETE CASCADE;


--
-- Name: demands demands_expediteur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.demands
    ADD CONSTRAINT demands_expediteur_id_fkey FOREIGN KEY (expediteur_id) REFERENCES public.shippers(id) ON DELETE CASCADE;


--
-- Name: demands demands_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.demands
    ADD CONSTRAINT demands_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: parcels fk_parcels_warehouse; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT fk_parcels_warehouse FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id);


--
-- Name: shippers fk_shippers_default_warehouse; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shippers
    ADD CONSTRAINT fk_shippers_default_warehouse FOREIGN KEY (default_warehouse_id) REFERENCES public.warehouses(id);


--
-- Name: warehouses fk_warehouses_agency; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT fk_warehouses_agency FOREIGN KEY (agency_id) REFERENCES public.agencies(id);


--
-- Name: invoices invoices_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(id);


--
-- Name: mission_demands mission_demands_demand_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mission_demands
    ADD CONSTRAINT mission_demands_demand_id_fkey FOREIGN KEY (demand_id) REFERENCES public.demands(id) ON DELETE CASCADE;


--
-- Name: mission_parcels mission_parcels_parcel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mission_parcels
    ADD CONSTRAINT mission_parcels_parcel_id_fkey FOREIGN KEY (parcel_id) REFERENCES public.parcels(id);


--
-- Name: parcel_timeline parcel_timeline_parcel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parcel_timeline
    ADD CONSTRAINT parcel_timeline_parcel_id_fkey FOREIGN KEY (parcel_id) REFERENCES public.parcels(id);


--
-- Name: parcel_timeline parcel_timeline_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parcel_timeline
    ADD CONSTRAINT parcel_timeline_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: parcels parcels_assigned_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT parcels_assigned_warehouse_id_fkey FOREIGN KEY (assigned_warehouse_id) REFERENCES public.warehouses(id);


--
-- Name: parcels parcels_shipper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT parcels_shipper_id_fkey FOREIGN KEY (shipper_id) REFERENCES public.shippers(id);


--
-- Name: payments payments_shipper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_shipper_id_fkey FOREIGN KEY (shipper_id) REFERENCES public.shippers(id);


--
-- Name: pickup_missions pickup_missions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pickup_missions
    ADD CONSTRAINT pickup_missions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: pickup_missions pickup_missions_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pickup_missions
    ADD CONSTRAINT pickup_missions_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id);


--
-- Name: pickup_missions pickup_missions_shipper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pickup_missions
    ADD CONSTRAINT pickup_missions_shipper_id_fkey FOREIGN KEY (shipper_id) REFERENCES public.shippers(id);


--
-- Name: shippers shippers_default_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shippers
    ADD CONSTRAINT shippers_default_driver_id_fkey FOREIGN KEY (default_driver_id) REFERENCES public.drivers(id);


--
-- Name: user_roles user_roles_assigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES public.users(id);


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: warehouse_users warehouse_users_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouse_users
    ADD CONSTRAINT warehouse_users_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: warehouse_users warehouse_users_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouse_users
    ADD CONSTRAINT warehouse_users_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id);


--
-- Name: warehouses warehouses_manager_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_manager_id_fkey FOREIGN KEY (manager_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

