--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accountants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accountants (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    governorate character varying(50),
    address text,
    title character varying(50),
    agency character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    password character varying(255)
);


ALTER TABLE public.accountants OWNER TO postgres;

--
-- Name: accountants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.accountants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.accountants_id_seq OWNER TO postgres;

--
-- Name: accountants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.accountants_id_seq OWNED BY public.accountants.id;


--
-- Name: administrators; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.administrators (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    governorate character varying(50),
    address text,
    role character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    password character varying(255)
);


ALTER TABLE public.administrators OWNER TO postgres;

--
-- Name: administrators_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.administrators_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.administrators_id_seq OWNER TO postgres;

--
-- Name: administrators_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.administrators_id_seq OWNED BY public.administrators.id;


--
-- Name: agencies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agencies (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    address text,
    governorate character varying(50),
    status character varying(20) DEFAULT 'Actif'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.agencies OWNER TO postgres;

--
-- Name: agencies_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.agencies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.agencies_id_seq OWNER TO postgres;

--
-- Name: agencies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.agencies_id_seq OWNED BY public.agencies.id;


--
-- Name: agency_managers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agency_managers (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    governorate character varying(50),
    address text,
    agency character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    password character varying(255)
);


ALTER TABLE public.agency_managers OWNER TO postgres;

--
-- Name: agency_managers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.agency_managers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.agency_managers_id_seq OWNER TO postgres;

--
-- Name: agency_managers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.agency_managers_id_seq OWNED BY public.agency_managers.id;


--
-- Name: agency_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agency_members (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    governorate character varying(50),
    agency character varying(50),
    role character varying(50),
    status character varying(20) DEFAULT 'Actif'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    address character varying(255),
    password character varying(255)
);


ALTER TABLE public.agency_members OWNER TO postgres;

--
-- Name: agency_members_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.agency_members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.agency_members_id_seq OWNER TO postgres;

--
-- Name: agency_members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.agency_members_id_seq OWNED BY public.agency_members.id;


--
-- Name: commercial_payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commercial_payments (
    id integer NOT NULL,
    commercial_id integer NOT NULL,
    type character varying(50) NOT NULL,
    description text NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_method character varying(100) NOT NULL,
    reference character varying(100) NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT commercial_payments_amount_check CHECK ((amount > (0)::numeric)),
    CONSTRAINT commercial_payments_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'paid'::character varying, 'failed'::character varying])::text[]))),
    CONSTRAINT commercial_payments_type_check CHECK (((type)::text = ANY ((ARRAY['Commission'::character varying, 'Salaire'::character varying, 'Bonus'::character varying])::text[])))
);


ALTER TABLE public.commercial_payments OWNER TO postgres;

--
-- Name: commercial_payments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.commercial_payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.commercial_payments_id_seq OWNER TO postgres;

--
-- Name: commercial_payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.commercial_payments_id_seq OWNED BY public.commercial_payments.id;


--
-- Name: commercials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commercials (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    governorate character varying(50),
    address text,
    title character varying(50),
    clients_count integer DEFAULT 0,
    shipments_received integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    password character varying(255)
);


ALTER TABLE public.commercials OWNER TO postgres;

--
-- Name: commercials_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.commercials_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.commercials_id_seq OWNER TO postgres;

--
-- Name: commercials_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.commercials_id_seq OWNED BY public.commercials.id;


--
-- Name: complaints; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.complaints (
    id integer NOT NULL,
    client_id integer NOT NULL,
    subject character varying(200) NOT NULL,
    description text,
    date date DEFAULT CURRENT_DATE,
    status character varying(20) DEFAULT 'En attente'::character varying,
    assigned_to integer,
    resolution_date timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    attachments text[],
    attachment_names text[]
);


ALTER TABLE public.complaints OWNER TO postgres;

--
-- Name: complaints_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.complaints_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.complaints_id_seq OWNER TO postgres;

--
-- Name: complaints_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.complaints_id_seq OWNED BY public.complaints.id;


--
-- Name: delivery_mission_parcels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.delivery_mission_parcels (
    id integer NOT NULL,
    mission_id integer NOT NULL,
    parcel_id integer NOT NULL,
    sequence_order integer DEFAULT 0,
    status character varying(20) DEFAULT 'pending'::character varying,
    completed_at timestamp without time zone,
    notes text,
    CONSTRAINT delivery_mission_parcels_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'completed'::character varying, 'failed'::character varying, 'skipped'::character varying])::text[])))
);


ALTER TABLE public.delivery_mission_parcels OWNER TO postgres;

--
-- Name: delivery_mission_parcels_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.delivery_mission_parcels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.delivery_mission_parcels_id_seq OWNER TO postgres;

--
-- Name: delivery_mission_parcels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.delivery_mission_parcels_id_seq OWNED BY public.delivery_mission_parcels.id;


--
-- Name: delivery_missions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.delivery_missions (
    id integer NOT NULL,
    mission_number character varying(50) NOT NULL,
    driver_id integer NOT NULL,
    warehouse_id integer NOT NULL,
    delivery_date date NOT NULL,
    estimated_parcels integer DEFAULT 0,
    actual_parcels integer DEFAULT 0,
    status character varying(20) DEFAULT 'scheduled'::character varying,
    start_time timestamp without time zone,
    end_time timestamp without time zone,
    route_data jsonb,
    notes text,
    created_by integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT delivery_missions_status_check CHECK (((status)::text = ANY ((ARRAY['scheduled'::character varying, 'in_progress'::character varying, 'completed'::character varying, 'cancelled'::character varying])::text[])))
);


ALTER TABLE public.delivery_missions OWNER TO postgres;

--
-- Name: delivery_missions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.delivery_missions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.delivery_missions_id_seq OWNER TO postgres;

--
-- Name: delivery_missions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.delivery_missions_id_seq OWNED BY public.delivery_missions.id;


--
-- Name: drivers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.drivers (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    governorate character varying(50),
    address text,
    vehicle character varying(100),
    status character varying(20) DEFAULT 'Disponible'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    cin_number character varying(20),
    driving_license character varying(50),
    car_number character varying(20),
    car_type character varying(100),
    insurance_number character varying(50),
    agency character varying(50),
    photo_url text,
    personal_documents_url text,
    car_documents_url text,
    password character varying(255)
);


ALTER TABLE public.drivers OWNER TO postgres;

--
-- Name: drivers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.drivers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.drivers_id_seq OWNER TO postgres;

--
-- Name: drivers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.drivers_id_seq OWNED BY public.drivers.id;


--
-- Name: invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoices (
    id integer NOT NULL,
    payment_id integer NOT NULL,
    invoice_number character varying(50) NOT NULL,
    client_name character varying(100),
    client_phone character varying(20),
    delivery_address text,
    weight numeric(8,2),
    notes text,
    base_delivery_cost numeric(10,2),
    additional_costs numeric(10,2) DEFAULT 0,
    total_ht numeric(10,2),
    tva numeric(10,2),
    total_ttc numeric(10,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.invoices OWNER TO postgres;

--
-- Name: invoices_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.invoices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invoices_id_seq OWNER TO postgres;

--
-- Name: invoices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.invoices_id_seq OWNED BY public.invoices.id;


--
-- Name: mission_parcels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mission_parcels (
    id integer NOT NULL,
    mission_id integer NOT NULL,
    parcel_id integer NOT NULL,
    status character varying(20) DEFAULT 'En attente'::character varying
);


ALTER TABLE public.mission_parcels OWNER TO postgres;

--
-- Name: mission_parcels_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mission_parcels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mission_parcels_id_seq OWNER TO postgres;

--
-- Name: mission_parcels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.mission_parcels_id_seq OWNED BY public.mission_parcels.id;


--
-- Name: parcel_timeline; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parcel_timeline (
    id integer NOT NULL,
    parcel_id integer NOT NULL,
    status character varying(50) NOT NULL,
    location character varying(100),
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    description text,
    user_id integer
);


ALTER TABLE public.parcel_timeline OWNER TO postgres;

--
-- Name: parcel_timeline_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.parcel_timeline_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.parcel_timeline_id_seq OWNER TO postgres;

--
-- Name: parcel_timeline_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.parcel_timeline_id_seq OWNED BY public.parcel_timeline.id;


--
-- Name: parcel_tracking_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parcel_tracking_history (
    id integer NOT NULL,
    parcel_id integer NOT NULL,
    status character varying(50) NOT NULL,
    previous_status character varying(50),
    mission_id integer,
    updated_by integer,
    location character varying(100),
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.parcel_tracking_history OWNER TO postgres;

--
-- Name: parcel_tracking_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.parcel_tracking_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.parcel_tracking_history_id_seq OWNER TO postgres;

--
-- Name: parcel_tracking_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.parcel_tracking_history_id_seq OWNED BY public.parcel_tracking_history.id;


--
-- Name: parcels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parcels (
    id integer NOT NULL,
    tracking_number character varying(20) NOT NULL,
    shipper_id integer NOT NULL,
    destination character varying(100) NOT NULL,
    status character varying(50) DEFAULT 'En attente'::character varying,
    weight numeric(8,2),
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    estimated_delivery_date date,
    actual_delivery_date timestamp without time zone,
    price numeric(10,2),
    delivery_fees numeric(10,2) DEFAULT 0,
    return_fees numeric(10,2) DEFAULT 0,
    type character varying(20) DEFAULT 'Standard'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    assigned_warehouse_id integer,
    recipient_name character varying(100),
    recipient_phone character varying(20),
    recipient_phone2 character varying(20),
    recipient_address text,
    recipient_governorate character varying(50),
    article_name character varying(255),
    remark text,
    nb_pieces integer DEFAULT 1,
    client_code character varying(10),
    failed_code character varying(10),
    CONSTRAINT parcels_status_check CHECK (((status)::text = ANY ((ARRAY['En attente'::character varying, '├Ç enlever'::character varying, 'Enlev├⌐'::character varying, 'Au d├⌐p├┤t'::character varying, 'En cours'::character varying, 'RTN d├⌐pot'::character varying, 'Livr├⌐s'::character varying, 'Livr├⌐s pay├⌐s'::character varying, 'Retour d├⌐finitif'::character varying, 'RTN client agence'::character varying, 'Retour Exp├⌐diteur'::character varying, 'Retour En Cours d''exp├⌐dition'::character varying, 'Retour re├ºu'::character varying])::text[])))
);


ALTER TABLE public.parcels OWNER TO postgres;

--
-- Name: parcels_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.parcels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.parcels_id_seq OWNER TO postgres;

--
-- Name: parcels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.parcels_id_seq OWNED BY public.parcels.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    id integer NOT NULL,
    shipper_id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    date date NOT NULL,
    payment_method character varying(50),
    reference character varying(50),
    status character varying(20) DEFAULT 'En attente'::character varying,
    invoice_number character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    check_date date,
    check_number character varying(100),
    transfer_date date,
    transfer_reference character varying(100),
    cash_date date,
    card_date date,
    card_number character varying(100)
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payments_id_seq OWNER TO postgres;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: pickup_missions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pickup_missions (
    id integer NOT NULL,
    mission_number character varying(20) NOT NULL,
    driver_id integer NOT NULL,
    shipper_id integer NOT NULL,
    scheduled_date timestamp without time zone NOT NULL,
    status character varying(50) DEFAULT 'En attente'::character varying,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pickup_missions OWNER TO postgres;

--
-- Name: pickup_missions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pickup_missions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pickup_missions_id_seq OWNER TO postgres;

--
-- Name: pickup_missions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pickup_missions_id_seq OWNED BY public.pickup_missions.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description text,
    permissions jsonb,
    is_system_role boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: sectors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sectors (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    city character varying(100),
    manager_id integer,
    status character varying(20) DEFAULT 'Actif'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.sectors OWNER TO postgres;

--
-- Name: sectors_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sectors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sectors_id_seq OWNER TO postgres;

--
-- Name: sectors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sectors_id_seq OWNED BY public.sectors.id;


--
-- Name: shippers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shippers (
    id integer NOT NULL,
    code character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    company character varying(100),
    total_parcels integer DEFAULT 0,
    delivered_parcels integer DEFAULT 0,
    returned_parcels integer DEFAULT 0,
    delivery_fees numeric(10,2) DEFAULT 0,
    return_fees numeric(10,2) DEFAULT 0,
    status character varying(20) DEFAULT 'Actif'::character varying,
    siret character varying(20),
    passport_number character varying(20),
    fiscal_number character varying(20),
    agency character varying(50),
    commercial_id integer,
    default_driver_id integer,
    bank_info jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    pending_parcels integer DEFAULT 0,
    total_revenue numeric(10,2) DEFAULT 0,
    total_paid numeric(10,2) DEFAULT 0,
    tax_number character varying(20),
    commercial_register character varying(20),
    city character varying(50),
    password character varying(255),
    identity_number character varying(30),
    id_document character varying(255),
    company_name character varying(100),
    company_address text,
    company_governorate character varying(50),
    company_documents character varying(255),
    address text,
    governorate character varying(100),
    page_name character varying(255)
);


ALTER TABLE public.shippers OWNER TO postgres;

--
-- Name: shippers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.shippers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.shippers_id_seq OWNER TO postgres;

--
-- Name: shippers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.shippers_id_seq OWNED BY public.shippers.id;


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_roles (
    id integer NOT NULL,
    user_id integer NOT NULL,
    role_id integer NOT NULL,
    assigned_by integer,
    assigned_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp without time zone,
    is_active boolean DEFAULT true
);


ALTER TABLE public.user_roles OWNER TO postgres;

--
-- Name: user_roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_roles_id_seq OWNER TO postgres;

--
-- Name: user_roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_roles_id_seq OWNED BY public.user_roles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    phone character varying(20),
    is_active boolean DEFAULT true,
    email_verified boolean DEFAULT false,
    last_login timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: warehouse_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.warehouse_users (
    id integer NOT NULL,
    warehouse_id integer NOT NULL,
    user_id integer NOT NULL,
    role character varying(50),
    email character varying(100),
    phone character varying(20),
    status character varying(20) DEFAULT 'Actif'::character varying,
    entry_date date DEFAULT CURRENT_DATE,
    parcels_processed integer DEFAULT 0,
    performance numeric(5,2) DEFAULT 0
);


ALTER TABLE public.warehouse_users OWNER TO postgres;

--
-- Name: warehouse_users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.warehouse_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.warehouse_users_id_seq OWNER TO postgres;

--
-- Name: warehouse_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.warehouse_users_id_seq OWNED BY public.warehouse_users.id;


--
-- Name: warehouses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.warehouses (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    governorate character varying(50),
    address text,
    manager_id integer,
    current_stock integer DEFAULT 0,
    capacity integer DEFAULT 100,
    status character varying(20) DEFAULT 'Actif'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    agency_id integer
);


ALTER TABLE public.warehouses OWNER TO postgres;

--
-- Name: warehouses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.warehouses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.warehouses_id_seq OWNER TO postgres;

--
-- Name: warehouses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.warehouses_id_seq OWNED BY public.warehouses.id;


--
-- Name: accountants id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accountants ALTER COLUMN id SET DEFAULT nextval('public.accountants_id_seq'::regclass);


--
-- Name: administrators id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administrators ALTER COLUMN id SET DEFAULT nextval('public.administrators_id_seq'::regclass);


--
-- Name: agencies id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agencies ALTER COLUMN id SET DEFAULT nextval('public.agencies_id_seq'::regclass);


--
-- Name: agency_managers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agency_managers ALTER COLUMN id SET DEFAULT nextval('public.agency_managers_id_seq'::regclass);


--
-- Name: agency_members id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agency_members ALTER COLUMN id SET DEFAULT nextval('public.agency_members_id_seq'::regclass);


--
-- Name: commercial_payments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commercial_payments ALTER COLUMN id SET DEFAULT nextval('public.commercial_payments_id_seq'::regclass);


--
-- Name: commercials id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commercials ALTER COLUMN id SET DEFAULT nextval('public.commercials_id_seq'::regclass);


--
-- Name: complaints id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaints ALTER COLUMN id SET DEFAULT nextval('public.complaints_id_seq'::regclass);


--
-- Name: delivery_mission_parcels id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_mission_parcels ALTER COLUMN id SET DEFAULT nextval('public.delivery_mission_parcels_id_seq'::regclass);


--
-- Name: delivery_missions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_missions ALTER COLUMN id SET DEFAULT nextval('public.delivery_missions_id_seq'::regclass);


--
-- Name: drivers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drivers ALTER COLUMN id SET DEFAULT nextval('public.drivers_id_seq'::regclass);


--
-- Name: invoices id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices ALTER COLUMN id SET DEFAULT nextval('public.invoices_id_seq'::regclass);


--
-- Name: mission_parcels id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mission_parcels ALTER COLUMN id SET DEFAULT nextval('public.mission_parcels_id_seq'::regclass);


--
-- Name: parcel_timeline id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcel_timeline ALTER COLUMN id SET DEFAULT nextval('public.parcel_timeline_id_seq'::regclass);


--
-- Name: parcel_tracking_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcel_tracking_history ALTER COLUMN id SET DEFAULT nextval('public.parcel_tracking_history_id_seq'::regclass);


--
-- Name: parcels id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcels ALTER COLUMN id SET DEFAULT nextval('public.parcels_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: pickup_missions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pickup_missions ALTER COLUMN id SET DEFAULT nextval('public.pickup_missions_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: sectors id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sectors ALTER COLUMN id SET DEFAULT nextval('public.sectors_id_seq'::regclass);


--
-- Name: shippers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shippers ALTER COLUMN id SET DEFAULT nextval('public.shippers_id_seq'::regclass);


--
-- Name: user_roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles ALTER COLUMN id SET DEFAULT nextval('public.user_roles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: warehouse_users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouse_users ALTER COLUMN id SET DEFAULT nextval('public.warehouse_users_id_seq'::regclass);


--
-- Name: warehouses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouses ALTER COLUMN id SET DEFAULT nextval('public.warehouses_id_seq'::regclass);


--
-- Data for Name: accountants; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: administrators; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: agencies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.agencies (id, name, address, governorate, status, created_at, updated_at) FROM stdin;
1	Agence Tunis	Adresse Tunis	Tunis	Actif	2025-07-14 20:48:16.639023	2025-07-14 20:48:16.639023
2	Agence Sousse	Adresse Sousse	Sousse	Actif	2025-07-14 20:48:16.639023	2025-07-14 20:48:16.639023
3	Agence Sfax	Adresse Sfax	Sfax	Actif	2025-07-14 20:48:16.639023	2025-07-14 20:48:16.639023
\.


--
-- Data for Name: agency_managers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: agency_members; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: commercial_payments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: commercials; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.commercials (id, name, email, phone, governorate, address, title, clients_count, shipments_received, created_at, updated_at, password) FROM stdin;
7	Wael Commercial	wael_commercial@quickzone.tn	+216 71 234 567	M├⌐denine	55 Rue du Commerce, Tunis	Commercial	8	200	2025-07-13 15:20:42.227561	2025-07-19 22:02:02.111804	$2a$10$GEkwrBRnu3EJMdDFhBZZX.PRUzkT80iRLvrEXOH6YFkyatkAW8HnS
47	Wael Riahi	Waellriahii@gmail.com	26423442	Tataouine	bejaaaaaaaaaaaa	Commercial	0	0	2025-07-13 17:41:30.572831	2025-07-30 20:27:02.609765	$2a$10$M0Ye/qlmxqpdW8x71VZZ3eaXBC2PBiWEyHR8WdvL02QHuOhh72lpG
\.


--
-- Data for Name: complaints; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: delivery_mission_parcels; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: delivery_missions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: drivers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.invoices (id, payment_id, invoice_number, client_name, client_phone, delivery_address, weight, notes, base_delivery_cost, additional_costs, total_ht, tva, total_ttc, created_at) FROM stdin;
\.


--
-- Data for Name: mission_parcels; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mission_parcels (id, mission_id, parcel_id, status) FROM stdin;
101	52	215	Enlev├⌐
116	58	232	Au d├⌐p├┤t
115	56	244	Enlev├⌐
99	51	221	Au d├⌐p├┤t
100	51	218	Au d├⌐p├┤t
117	59	250	Au d├⌐p├┤t
119	62	302	pending
102	53	231	Au d├⌐p├┤t
103	53	230	Au d├⌐p├┤t
104	53	229	Au d├⌐p├┤t
105	53	228	Au d├⌐p├┤t
106	53	222	Au d├⌐p├┤t
120	63	289	├Ç enlever
121	64	289	Au d├⌐p├┤t
122	65	309	Au d├⌐p├┤t
\.


--
-- Data for Name: parcel_timeline; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.parcel_timeline (id, parcel_id, status, location, "timestamp", description, user_id) FROM stdin;
\.


--
-- Data for Name: parcel_tracking_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: parcels; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pickup_missions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sectors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sectors (id, name, city, manager_id, status, created_at, updated_at) FROM stdin;
15	test	Jendouba	46	Actif	2025-07-14 16:19:55.051458	2025-07-14 16:19:55.051458
16	nord	B├⌐ja,Kairouan,Bizerte,Kebili	37	Actif	2025-07-14 23:28:41.038679	2025-07-14 23:28:55.003017
17	test5	Gab├¿s,Kairouan,Kef	37	Actif	2025-07-14 23:47:04.176252	2025-07-14 23:47:04.176252
18	grand tunis 	Ariana	49	Actif	2025-07-26 19:11:35.130475	2025-07-26 19:11:35.130475
\.


--
-- Data for Name: shippers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: warehouse_users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.warehouse_users (id, warehouse_id, user_id, role, email, phone, status, entry_date, parcels_processed, performance) FROM stdin;
\.


--
-- Data for Name: warehouses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: accountants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accountants_id_seq', 43, true);


--
-- Name: administrators_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.administrators_id_seq', 43, true);


--
-- Name: agencies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.agencies_id_seq', 3, true);


--
-- Name: agency_managers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.agency_managers_id_seq', 51, true);


--
-- Name: agency_members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.agency_members_id_seq', 72, true);


--
-- Name: commercial_payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.commercial_payments_id_seq', 32, true);


--
-- Name: commercials_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.commercials_id_seq', 56, true);


--
-- Name: complaints_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.complaints_id_seq', 24, true);


--
-- Name: delivery_mission_parcels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.delivery_mission_parcels_id_seq', 17, true);


--
-- Name: delivery_missions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.delivery_missions_id_seq', 16, true);


--
-- Name: drivers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.drivers_id_seq', 60, true);


--
-- Name: invoices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.invoices_id_seq', 12, true);


--
-- Name: mission_parcels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mission_parcels_id_seq', 122, true);


--
-- Name: parcel_timeline_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.parcel_timeline_id_seq', 15, true);


--
-- Name: parcel_tracking_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.parcel_tracking_history_id_seq', 715, true);


--
-- Name: parcels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.parcels_id_seq', 309, true);


--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.payments_id_seq', 149, true);


--
-- Name: pickup_missions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pickup_missions_id_seq', 65, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 22, true);


--
-- Name: sectors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sectors_id_seq', 18, true);


--
-- Name: shippers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shippers_id_seq', 49, true);


--
-- Name: user_roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_roles_id_seq', 79, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 313, true);


--
-- Name: warehouse_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.warehouse_users_id_seq', 1, false);


--
-- Name: warehouses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.warehouses_id_seq', 13, true);


--
-- Name: accountants accountants_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accountants
    ADD CONSTRAINT accountants_email_key UNIQUE (email);


--
-- Name: accountants accountants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accountants
    ADD CONSTRAINT accountants_pkey PRIMARY KEY (id);


--
-- Name: administrators administrators_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administrators
    ADD CONSTRAINT administrators_email_key UNIQUE (email);


--
-- Name: administrators administrators_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administrators
    ADD CONSTRAINT administrators_pkey PRIMARY KEY (id);


--
-- Name: agencies agencies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agencies
    ADD CONSTRAINT agencies_pkey PRIMARY KEY (id);


--
-- Name: agency_managers agency_managers_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agency_managers
    ADD CONSTRAINT agency_managers_email_key UNIQUE (email);


--
-- Name: agency_managers agency_managers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agency_managers
    ADD CONSTRAINT agency_managers_pkey PRIMARY KEY (id);


--
-- Name: agency_members agency_members_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agency_members
    ADD CONSTRAINT agency_members_email_key UNIQUE (email);


--
-- Name: agency_members agency_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agency_members
    ADD CONSTRAINT agency_members_pkey PRIMARY KEY (id);


--
-- Name: commercial_payments commercial_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commercial_payments
    ADD CONSTRAINT commercial_payments_pkey PRIMARY KEY (id);


--
-- Name: commercial_payments commercial_payments_reference_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commercial_payments
    ADD CONSTRAINT commercial_payments_reference_key UNIQUE (reference);


--
-- Name: commercials commercials_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commercials
    ADD CONSTRAINT commercials_email_key UNIQUE (email);


--
-- Name: commercials commercials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commercials
    ADD CONSTRAINT commercials_pkey PRIMARY KEY (id);


--
-- Name: complaints complaints_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_pkey PRIMARY KEY (id);


--
-- Name: delivery_mission_parcels delivery_mission_parcels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_mission_parcels
    ADD CONSTRAINT delivery_mission_parcels_pkey PRIMARY KEY (id);


--
-- Name: delivery_missions delivery_missions_mission_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_missions
    ADD CONSTRAINT delivery_missions_mission_number_key UNIQUE (mission_number);


--
-- Name: delivery_missions delivery_missions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_missions
    ADD CONSTRAINT delivery_missions_pkey PRIMARY KEY (id);


--
-- Name: drivers drivers_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_email_key UNIQUE (email);


--
-- Name: drivers drivers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_invoice_number_key UNIQUE (invoice_number);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: mission_parcels mission_parcels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mission_parcels
    ADD CONSTRAINT mission_parcels_pkey PRIMARY KEY (id);


--
-- Name: parcel_timeline parcel_timeline_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcel_timeline
    ADD CONSTRAINT parcel_timeline_pkey PRIMARY KEY (id);


--
-- Name: parcel_tracking_history parcel_tracking_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcel_tracking_history
    ADD CONSTRAINT parcel_tracking_history_pkey PRIMARY KEY (id);


--
-- Name: parcels parcels_client_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT parcels_client_code_key UNIQUE (client_code);


--
-- Name: parcels parcels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT parcels_pkey PRIMARY KEY (id);


--
-- Name: parcels parcels_tracking_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT parcels_tracking_number_key UNIQUE (tracking_number);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: pickup_missions pickup_missions_mission_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pickup_missions
    ADD CONSTRAINT pickup_missions_mission_number_key UNIQUE (mission_number);


--
-- Name: pickup_missions pickup_missions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pickup_missions
    ADD CONSTRAINT pickup_missions_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: sectors sectors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sectors
    ADD CONSTRAINT sectors_pkey PRIMARY KEY (id);


--
-- Name: shippers shippers_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shippers
    ADD CONSTRAINT shippers_code_key UNIQUE (code);


--
-- Name: shippers shippers_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shippers
    ADD CONSTRAINT shippers_email_key UNIQUE (email);


--
-- Name: shippers shippers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shippers
    ADD CONSTRAINT shippers_pkey PRIMARY KEY (id);


--
-- Name: delivery_mission_parcels unique_delivery_mission_parcel; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_mission_parcels
    ADD CONSTRAINT unique_delivery_mission_parcel UNIQUE (mission_id, parcel_id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_user_id_role_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_role_id_key UNIQUE (user_id, role_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: warehouse_users warehouse_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouse_users
    ADD CONSTRAINT warehouse_users_pkey PRIMARY KEY (id);


--
-- Name: warehouses warehouses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_pkey PRIMARY KEY (id);


--
-- Name: idx_commercial_payments_commercial_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_commercial_payments_commercial_id ON public.commercial_payments USING btree (commercial_id);


--
-- Name: idx_commercial_payments_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_commercial_payments_created_at ON public.commercial_payments USING btree (created_at);


--
-- Name: idx_commercial_payments_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_commercial_payments_status ON public.commercial_payments USING btree (status);


--
-- Name: idx_commercial_payments_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_commercial_payments_type ON public.commercial_payments USING btree (type);


--
-- Name: idx_delivery_mission_parcels_mission; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_delivery_mission_parcels_mission ON public.delivery_mission_parcels USING btree (mission_id);


--
-- Name: idx_delivery_mission_parcels_parcel; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_delivery_mission_parcels_parcel ON public.delivery_mission_parcels USING btree (parcel_id);


--
-- Name: idx_delivery_mission_parcels_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_delivery_mission_parcels_status ON public.delivery_mission_parcels USING btree (status);


--
-- Name: idx_delivery_missions_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_delivery_missions_date ON public.delivery_missions USING btree (delivery_date);


--
-- Name: idx_delivery_missions_driver; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_delivery_missions_driver ON public.delivery_missions USING btree (driver_id);


--
-- Name: idx_delivery_missions_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_delivery_missions_status ON public.delivery_missions USING btree (status);


--
-- Name: idx_delivery_missions_warehouse; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_delivery_missions_warehouse ON public.delivery_missions USING btree (warehouse_id);


--
-- Name: idx_parcel_tracking_history_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_parcel_tracking_history_created_at ON public.parcel_tracking_history USING btree (created_at);


--
-- Name: idx_parcel_tracking_history_mission_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_parcel_tracking_history_mission_id ON public.parcel_tracking_history USING btree (mission_id);


--
-- Name: idx_parcel_tracking_history_parcel_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_parcel_tracking_history_parcel_id ON public.parcel_tracking_history USING btree (parcel_id);


--
-- Name: idx_parcel_tracking_history_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_parcel_tracking_history_status ON public.parcel_tracking_history USING btree (status);


--
-- Name: idx_parcels_client_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_parcels_client_code ON public.parcels USING btree (client_code);


--
-- Name: idx_parcels_failed_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_parcels_failed_code ON public.parcels USING btree (failed_code);


--
-- Name: idx_parcels_shipper; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_parcels_shipper ON public.parcels USING btree (shipper_id);


--
-- Name: idx_parcels_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_parcels_status ON public.parcels USING btree (status);


--
-- Name: idx_parcels_tracking; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_parcels_tracking ON public.parcels USING btree (tracking_number);


--
-- Name: idx_payments_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_date ON public.payments USING btree (date);


--
-- Name: idx_payments_shipper; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_shipper ON public.payments USING btree (shipper_id);


--
-- Name: idx_shippers_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_shippers_code ON public.shippers USING btree (code);


--
-- Name: idx_shippers_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_shippers_email ON public.shippers USING btree (email);


--
-- Name: idx_users_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_active ON public.users USING btree (is_active);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: idx_warehouses_agency_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_warehouses_agency_id ON public.warehouses USING btree (agency_id);


--
-- Name: commercial_payments commercial_payments_commercial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commercial_payments
    ADD CONSTRAINT commercial_payments_commercial_id_fkey FOREIGN KEY (commercial_id) REFERENCES public.commercials(id) ON DELETE CASCADE;


--
-- Name: complaints complaints_assigned_to_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_assigned_to_fkey FOREIGN KEY (assigned_to) REFERENCES public.users(id);


--
-- Name: complaints complaints_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.shippers(id);


--
-- Name: delivery_mission_parcels delivery_mission_parcels_mission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_mission_parcels
    ADD CONSTRAINT delivery_mission_parcels_mission_id_fkey FOREIGN KEY (mission_id) REFERENCES public.delivery_missions(id) ON DELETE CASCADE;


--
-- Name: delivery_mission_parcels delivery_mission_parcels_parcel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_mission_parcels
    ADD CONSTRAINT delivery_mission_parcels_parcel_id_fkey FOREIGN KEY (parcel_id) REFERENCES public.parcels(id) ON DELETE CASCADE;


--
-- Name: delivery_missions delivery_missions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_missions
    ADD CONSTRAINT delivery_missions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: delivery_missions delivery_missions_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_missions
    ADD CONSTRAINT delivery_missions_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id);


--
-- Name: delivery_missions delivery_missions_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.delivery_missions
    ADD CONSTRAINT delivery_missions_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id);


--
-- Name: warehouses fk_warehouses_agency; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT fk_warehouses_agency FOREIGN KEY (agency_id) REFERENCES public.agencies(id);


--
-- Name: invoices invoices_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(id);


--
-- Name: mission_parcels mission_parcels_mission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mission_parcels
    ADD CONSTRAINT mission_parcels_mission_id_fkey FOREIGN KEY (mission_id) REFERENCES public.pickup_missions(id);


--
-- Name: mission_parcels mission_parcels_parcel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mission_parcels
    ADD CONSTRAINT mission_parcels_parcel_id_fkey FOREIGN KEY (parcel_id) REFERENCES public.parcels(id);


--
-- Name: parcel_timeline parcel_timeline_parcel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcel_timeline
    ADD CONSTRAINT parcel_timeline_parcel_id_fkey FOREIGN KEY (parcel_id) REFERENCES public.parcels(id);


--
-- Name: parcel_timeline parcel_timeline_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcel_timeline
    ADD CONSTRAINT parcel_timeline_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: parcel_tracking_history parcel_tracking_history_mission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcel_tracking_history
    ADD CONSTRAINT parcel_tracking_history_mission_id_fkey FOREIGN KEY (mission_id) REFERENCES public.pickup_missions(id) ON DELETE SET NULL;


--
-- Name: parcel_tracking_history parcel_tracking_history_parcel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcel_tracking_history
    ADD CONSTRAINT parcel_tracking_history_parcel_id_fkey FOREIGN KEY (parcel_id) REFERENCES public.parcels(id) ON DELETE CASCADE;


--
-- Name: parcel_tracking_history parcel_tracking_history_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcel_tracking_history
    ADD CONSTRAINT parcel_tracking_history_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: parcels parcels_assigned_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT parcels_assigned_warehouse_id_fkey FOREIGN KEY (assigned_warehouse_id) REFERENCES public.warehouses(id);


--
-- Name: parcels parcels_shipper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT parcels_shipper_id_fkey FOREIGN KEY (shipper_id) REFERENCES public.shippers(id);


--
-- Name: payments payments_shipper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_shipper_id_fkey FOREIGN KEY (shipper_id) REFERENCES public.shippers(id);


--
-- Name: pickup_missions pickup_missions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pickup_missions
    ADD CONSTRAINT pickup_missions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: pickup_missions pickup_missions_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pickup_missions
    ADD CONSTRAINT pickup_missions_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id);


--
-- Name: pickup_missions pickup_missions_shipper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pickup_missions
    ADD CONSTRAINT pickup_missions_shipper_id_fkey FOREIGN KEY (shipper_id) REFERENCES public.shippers(id);


--
-- Name: sectors sectors_manager_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sectors
    ADD CONSTRAINT sectors_manager_id_fkey FOREIGN KEY (manager_id) REFERENCES public.agency_managers(id) ON DELETE SET NULL;


--
-- Name: shippers shippers_commercial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shippers
    ADD CONSTRAINT shippers_commercial_id_fkey FOREIGN KEY (commercial_id) REFERENCES public.commercials(id);


--
-- Name: shippers shippers_default_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shippers
    ADD CONSTRAINT shippers_default_driver_id_fkey FOREIGN KEY (default_driver_id) REFERENCES public.drivers(id);


--
-- Name: user_roles user_roles_assigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES public.users(id);


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: warehouse_users warehouse_users_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouse_users
    ADD CONSTRAINT warehouse_users_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: warehouse_users warehouse_users_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouse_users
    ADD CONSTRAINT warehouse_users_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id);


--
-- Name: warehouses warehouses_manager_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_manager_id_fkey FOREIGN KEY (manager_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

